<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janekn </title>
</head>

<body>
  <h1>Janken Game!</h1>

  <!--th:ifと書くと条件文を表す．この例の場合，nameが
        返ってきたとき(nullでないとき)だけdivを表示する
      th:ifのように対象がthymeleafの変数であることを示している場合は"["で囲まなくて良い-->
  <div th:if="${name}">
    Hi [[${name}]]
  </div>

  <div>
    <a href="/jankengame?hand=gu">ぐー </a><a href="/jankengame?hand=choki">ちょき </a><a href="/jankengame?hand=pa">ぱー</a>
  </div>

  <div th:if="${result}">
    あなたの手 [[${me}]] <br>
    相手の手 [[${enemy}]] <br>
    結果 [[${result}]] <br>
  </div>

</body>

</html>
